<a routerLink="/">app/</a><br />
<a routerLink="/child1">app/child1</a><br />
<a routerLink="/m1/c1">module1/comp1</a><br />
<a routerLink="/m1/c2">module1/comp2</a><br /><br />
<a routerLink="/m2/c11">module2/comp1</a><br />
<a routerLink="/m2/c12">module2/comp2</a><br />
<br />
the router outlet:
<br />
<router-outlet></router-outlet>
<br />

<!-- app component content
<br>
serverData: {{serverData}}
<br>
<app-parent></app-parent>
<br>
<app-comp1mod1></app-comp1mod1>
<br>
<app-comp2mod1></app-comp2mod1>
<br> -->
